DB_HOST=localhost
DB_USER=labber
DB_PASS=labber
DB_NAME=midterm
# Uncomment and set to true for Heroku
# DB_SSL=true if heroku
DB_PORT=5432
TWILIO_SID=AC0f80fa6f58ec1e2f3fe0be5b80521f83
TWILIO_OAUTH=e5d5beb37209c81d9ba7e20861e2f943
