<nav class="navbar">
  <a class="nav-logo">CRAVING</a>
  <ul class="nav-menu">
      <li class="nav-item">
          <a href="#" class="nav-link">Menu</a>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link">My Cart</a>
      </li>
  </ul>
  <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
  </div>
</nav>
