#cart {
  position: relative;
  width: 100%;
  top: 28em;
  padding-bottom: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', cursive;
  // margin-right: 200em;
  .card {
    margin: 2em, auto;
  }
  .cart-imgs {
    width: 200px;
  }
}

.totals {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 100px;
}
