#menu {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    main {
        width: 100%;
        .mainHeadings {
            width: 95%;
            margin-left: 1em;
        }
        .best-seller {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .best-seller-img {
                width: 95%;
                img {
                    width: 100%;
                }
            }
            :nth-child(2) {
                margin-top: 1em;
                text-transform: uppercase;
            }
        }
    }
    .browse-all {
        h3 {
            margin-left: 3.5em;
        }
        .browse-all-img {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-gap: 1em;
            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-transform: capitalize;
                :nth-child(2) {
                    margin-top: 1em;
                }
                .buttons {
                  color: 3px solid white;
                }
            }
        }
    }
    img:hover,
    img:focus-within {
        border: 3px solid yellow;
    }
}
