#menu {
    .slide {
      margin-top: 12em;
      margin-right: 1.5em;
      margin-left: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .slider.nohover:hover{
      background: transparent;
    }

    .browse-all,
    #menu-items {
        display: grid;
        grid-gap: 2em;
        margin-left: 4em;
        h3 {
            margin-left: 3.5em;
            margin-top: 1em;
        }
        .browse-all-img {
            .items {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-transform: capitalize;
                width: 70%;
                :nth-child(2) {
                    margin-top: 1em;
                }
                .buttons {
                  color: 3px solid white;
                }
                .afterSignUp {
                    visibility: visible;
                }
                .beforeSignUp {
                    visibility: hidden;
                }
                .item-info {
                    margin-top: 1em;
                    text-align: center;
                    line-height: 10px;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    .items img:hover,
    .items img:focus-within {
        border: 5px solid #f6d2d8;
    }
}
